{% extends 'front.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-6">
            <!--Imagens-->
            {% if product.productPhotos.count() %}
               <div class="row">
                   <div class="col-3 pr-2">
                       {% for photo in product.productPhotos %}
                           <img src="{{ asset('/uploads/products/' ~ photo.photo) }}" alt="" class="img-fluid mb-2">
                       {% endfor %}
                   </div>
                   <div class="col-9 pl-0">
                       <img src="{{ asset('/uploads/products/' ~ product.productPhotos.first().photo) }}" alt="" class="img-fluid">
                   </div>

               </div>
            {% else %}
                <img src="{{ asset('images/no-photo.jpg') }}" alt="" class="img-fluid">
            {% endif %}
        </div>


        <div class="col-6">
            <h3>{{ product.name }}</h3>
            <p>{{ product.description }}</p>
            <h5>R$ {{ product.floatPrice|number_format(2, ',', '.') }}</h5>
        </div>
    </div>
{% endblock %}